a{
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px;
}

a:hover{
    cursor: pointer;
}

th.mat-header-cell,td.mat-cell{
    text-align: center;
}

td.sorted{
    text-align: left;
}

tr.mat-row:hover{
    background-color: rgb(241, 241, 241);
}