mat-icon {
    height: 100%;
    font-size: 150px;
    width: 100%;
}

@media (max-width: 600px) {
    mat-icon {
        font-size: 100px;
    }
    .error_msg{
        width: 100%;
        font-size: 15px;
        height: 100%;
    }
}
