<mat-tab-group>
    <mat-tab label="Students">
        <ng-template matTabContent>
            <app-students></app-students>
        </ng-template>
    </mat-tab>
    <mat-tab label="Professors"> <ng-template matTabContent>Professors </ng-template></mat-tab>
    <mat-tab label="Graduation Projects"> <ng-template matTabContent>Graduation Projects </ng-template></mat-tab>
    <mat-tab label="Companies"> <ng-template matTabContent>Companies </ng-template></mat-tab>
    <mat-tab label="Supervisors"> <ng-template matTabContent>Supervisors </ng-template></mat-tab>
    <mat-tab label="Accounts"> 
        <ng-template matTabContent>
            <app-accounts></app-accounts>
        </ng-template>
    </mat-tab>
    <mat-tab label="Roles"><ng-template matTabContent></ng-template> Roles </mat-tab>

</mat-tab-group>

